PORT=4000
FRONTEND_URL=http://localhost:4000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_CONNECT_CLIENT_ID=
STRIPE_WEBHOOK_SECRET=
ADMIN_SECRET=
EMAIL_USER=
EMAIL_PASS=
OWNER_EMAIL=
